.directormessage{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.directormessage-body {
    display: flex;
    margin-bottom: 2vh;
}

.directormessage-heading {
    margin-top: 2vh;
    margin-bottom: 20px;
    font-family: ubuntu;
    text-align: center;
}

.directormessage-content {
    font-size: 18px;
    width: 56%;
    padding-left: 3%;
    padding-right: 3%;
}

.directormessage-image {
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
}

.directormessage-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}